.cont {
    display: flex;
    /* height: 100vh; */
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
}

.img-cont {
    margin-top: 5rem;
    display: flex;
    background-color: yellow;
}

.img1 {
    margin-right: 15rem;
    margin-bottom: 10rem;
}

img {
    width: 300px;
}


.opa {
    opacity: 0;
    width: 10px;
}
.container-1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.container-2 {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}